body {
  margin: 10px;
  font-family:Arial;
  background: #171c30;
}
.HomeLayout {
  display: flex;
  flex-direction: column;
  align-items: "center";
  margin: 0;
}

.Header {
  flex: 1;
}

.Contenido {
  flex: 0.5;
  flex-direction: row;
}
