.ErrorView {
  background-color: #17B5E9;
  color: #FFF;
  font-family: "Arial";
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 300px 300px;
    /*grid-template: fila / columnas;*/
    grid-template: 300px 100px 100px / 50% 200px 100px;
    /*grid-column-gap: 30px;*/
    /*grid-row-gap: 50px;*/
    grid-gap: 10px 20px;
  }
