  .ListContainer {
  background-color: #a5deff;
  padding: 10px;
  color: #0487d3;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.ButtonContainer {
  margin-bottom: 10px;
}

.VideoListContainer {
  border: 1px solid

}

.VideosContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid;
}
.VideoNameContainer {
  width: 100%;
  padding: 5px;
}

.VideoActions {
  width: 20%;
  float: left;
}
.VideoName {
  width: 80%;
  float: left;
}

.ClipChildren {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ClipBtn {
  padding-left: 5px;
}
